
@import url("https://fonts.googleapis.com/css?family=Calibri:300,400,700,800,900");

body{
	font-family:Calibri;
	font-size: 16px;
	color: grey;
	font-weight: 300;
	margin: 10px;
	}
h1{
	font-size: 36px;
	color: black;
	font-weight: bold;
	text-align: center;
}
h2{
	font-size: 28px;
	color: #da70d6;
	font-weight: lighter;
	text-align: center;
}
.bannière img{
	size: 50px;
	border: outset;
	border-radius: 50%;
}
.bannière{
	display: flex;
	justify-content: center;
}
.education{
	display: flex;
	justify-content: space-around;
	box-shadow: 5px 5px 6px grey;
} 
.education h2{
	margin: 50px;
} 
.pitch1{
	width: 300px;
}
.pitch2{
	width: 300px;
}
.pitch3{
	width: 300px;
}
.bannière h1{
	text-align: center;
}
.chef{
	display: flex;
	justify-content: center;
}
.experience{
	display: flex;
	justify-content: space-around;
} 
.experience h2{
	margin: 50px;
} 
.resume1{
	width: 300px;
}
.resume2{
	width: 300px;
}
.resume3{
	width: 300px;
}
.competences{
	display: flex;
	justify-content: space-around;
	box-shadow: 5px 5px 6px grey;
	vertical-align: center;
}
.competences p:hover{
	color: #da70d6
}

.competences img{
	width: 50px;
	height: 28px;
}
.logiciels img{
	width: 50px;
	height:50px;
}
.loisirs{
	display: flex;
	justify-content: space-around;
	box-shadow: 5px 5px 6px grey;
	vertical-align: center;
	height: 80px;
}
.loisirs img{
	width: 50px;
	height: 50px;
}
.livre {
	border: solid;
	border-radius: 50%;
	border-color: black;
	border height: 2px;
}
.certifications img{
	width: 30px;
	height: 30px;
}
.hmn7{
	box-shadow: 5px 5px 6px grey;
}
.guerlain{
	box-shadow: 5px 5px 6px grey;
}
.dior{
	box-shadow: 5px 5px 6px grey;
}
.langues, .logiciels, .certifications {
	color: grey;
	font-size:22px;
	font-weight: bold;
	text-align: center;
}
.TOEIC , .TOEFL{
	font-size: 16px;
	font-weight: lighter;
}
.infos{
	display: flex;
	justify-content: flex-start;
}








