
@import url("https://fonts.googleapis.com/css?family=Calibri:300,400,700,800,900");

body{
	font-family:Calibri;
	font-size: 16px;
	color: 48 48 48;
	font-weight: 300;
	margin: 10px;
	}
h1{
	font-size: 28px;
	color: black;
}
h2{
	font-size: 20px;
	color: #da70d6;
	font-weight: lighter;
}
.photocv img{
	size: 50px;
	border: solid;
	border-radius: 50%;
	align-content: center;
}
.education{
	display: flex;
	justify-content: space-around;
} 
.education h2{
	margin: 50px;
} 
.bannière h1{
	text-align: center;
}
.chef{
	display: flex;
	justify-content: center;
}
.experience{
	display: flex;
	justify-content: space-around;
} 
.experience h2{
	margin: 50px;
} 
.competences img{
	width: 30px;
	height: 18px;
}
.loisirs img{
	width: 30px;
	height: 18px;
}
.certifications img{
	width: 30px;
	height: 30px;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 10% 10% 10% 10% 10% 10%;
}
.audencia{
	grid-row: 1 / span 2;
	grid-column: 1/ span 1
}
.prepa{
	grid-row: 1 / span 2;
	grid-column: 1/ span 1
}
.lycee{
	grid-row: 1 / span 2;
	grid-column: 1/ span 1
}
.hmn7{
	grid-row: 1 / span 3;
	grid-column: 1/ span 1
}
.guerlain{
	grid-row: 1 / span 3;
	grid-column: 1/ span 1
}
.dior{
	grid-row: 1 / span 3;
	grid-column: 1/ span 1
}








